// General
$sans-serif: "source-sans-pro", "Helvetica Neue", Helvetica, sans-serif;
$serif: "adobe-garamond-pro", Georgia, "Times New Roman", serif;

// basscss
$font-family: $sans-serif;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$bold-font-weight: 700;

$border-width: 2px;
$link-color: $brand-secondary;
$container-width: 72em;