.siteheader {
	background: url(../img/pattern-dimension-yellow.png);
	margin-bottom: $space-2;

	@media #{$breakpoint-sm} {
		margin-bottom: $space-4;
		padding-top: $space-3;
		padding-bottom: $space-3;
	}

	@media #{$breakpoint-lg} {
		margin-bottom: $space-4 * 1.5;
	}
}

.site-branding {
	z-index: 2;
}

.logo {
	background-color: $brand-primary;
	border-radius: 50%;
	box-shadow: rgba(#fff, 0.3) 0 0 0 4px;
	height: 50px;
	width: 50px;

	padding: 15px;
	margin: 0;

	position: absolute;
	top: 0.5em;
	left: 0.5em;

	@media #{$breakpoint-sm} {
		height: 80px;
		width: 80px;
		padding: 25px;

		top: -1em;
		left: 1em;

		&-lg {
			box-shadow: rgba(#fff, 0.5) 0 0 0 10px;
			height: 150px;
			width: 150px;
			padding: 40px;

			left: $space-4;
		}
	}

	@media #{$breakpoint-xl} {

		&-lg {
			left: -$space-3;
		}

	}
}